body {
  background-color: rgb(0, 58, 79);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin: 0;
  gap: 1em;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  padding: 1em;
  --border-size: 0.08em;
  --border-type: solid;
  --border-color: rgb(250, 250, 250);
  --box-color: white;
  --box2-color: rgb(240, 240, 240);
  --border2-color: rgb(235, 235, 235);
  --lived-box-color: black;
  --red: rgb(255, 105, 105);
  --yellow: rgb(255, 244, 176);
  --radius: 10px;
}

header {
  padding: 0.5em 1.5em;
  color: rgba(228, 228, 228, 0.76);
  /* box-shadow: var(--shadow); */
  border-radius: var(--radius);
  width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
}
input[type="number"] {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  display: grid;
  justify-items: center;
  border-radius: var(--radius);
}
#life {
  display: grid;
  /* box-shadow: var(--shadow); */
  grid-template-columns: repeat(52, 1fr);
  grid-area: life;
  border-radius: var(--radius);
  max-height: calc(100vh-2em);
}
.week-box:first-child {
  /* Your styles here */
  border-radius: var(--radius) 0 0 0;
}
#life .week-box:last-child {
  /* Your styles here */
  border-radius: 0 0 var(--radius) 0;
}

.week-box:nth-child(52) {
  /* Your styles here */
  border-radius: 0 var(--radius) 0 0;
}
.week-box {
  --min-week-box-size: 0.3em;
  --week-box-size: 0.43em;
  --max-week-box-size: 0.6em;
  border: var(--border-size) var(--border-type) var(--border-color);
  background-color: var(--box-color);
  width: calc(var(--week-box-size) + 1px);
  height: var(--week-box-size);
  min-height: var(--min-week-box-size);
  max-height: var(--max-week-box-size);
}
.decade-shader {
  background-color: var(--box2-color) !important;
  border-color: var(--border2-color) !important;
}
.lived {
  background-color: rgba(22, 22, 22, 1);
  border: var(--border-size) rgba(38, 35, 35, 0.201) var(--border-type);
}
.lived-this-year {
  background-color: rgb(200, 0, 0);
  border: var(--border-size) rgb(190, 0, 0) var(--border-type);
}
span {
  color: var(--yellow);
  font-size: 120%;
}
h1 {
  padding: none;
  font-size: 2em;
  text-align: center;
  color: rgb(255, 241, 238);
}
h2 {
  width: fit-content;
  font-size: 1.3em;
}
#this-year {
  grid-area: this-year;
  margin: 0;
}
#next-decade {
  grid-area: next-decade;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1em;
  }
}
.flash {
  color: rgb(255, 235, 107);
}
.top-right {
  border-radius: var(--radius);
}
.bottom-left {
  border-radius: 0 0 0 var(--radius);
}
