.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}
body {
  background-color: rgb(0, 58, 79);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin: 0;
  gap: 1em;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 1em;
  --border-size: 0.08em;
  --border-type: solid;
  --border-color: rgb(250, 250, 250);
  --box-color: rgb(255, 255, 255);
  --box2-color: rgb(240, 240, 240);
  --border2-color: rgb(235, 235, 235);
  --lived-box-color: black;
  --lived-decade-number-color: rgba(255, 255, 255, 0.02);
  --current-decade-number-color: rgba(159, 255, 148, 0.2);
  --red: rgb(255, 105, 105);
  --yellow: rgb(255, 244, 176);
  --gray: rgb(227, 227, 227);
  --gray2: rgb(255, 255, 255);
  --radius: 10px;
}
.special-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

header {
  padding: 0.5em 1.5em;
  color: rgba(228, 228, 228, 0.76);
  /* box-shadow: var(--shadow); */
  border-radius: var(--radius);
  width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  font-family: monospace;
}
input[type="number"] {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  display: grid;
  justify-items: center;
  /* border-radius: var(--radius); */
}

/* .week-box:first-child {
  border-radius: var(--radius) 0 0 0;
}

.week-box:nth-child(52) {
  border-radius: 0 var(--radius) 0 0;
} */

.decade {
  display: grid;
  /* box-shadow: var(--shadow); */
  grid-template-columns: repeat(52, 1fr);
  grid-area: life;
  /* border-radius: var(--radius); */
  max-height: calc(100vh-2em);
  /* background-color: var(--box-color); */
  position: relative;
}

.week-box {
  --min-week-box-size: 0.3em;
  --week-box-size: 0.43em;
  --max-week-box-size: 0.6em;
  border: var(--border-size) var(--border-type) var(--border-color);
  background-color: var(--box-color);
  width: calc(var(--week-box-size) + 1px);
  height: var(--week-box-size);
  min-height: var(--min-week-box-size);
  max-height: var(--max-week-box-size);
}

.decade-shader .week-box {
  background-color: var(--box2-color);
  border-color: var(--border2-color);
}
.lived {
  background-color: rgba(22, 22, 22, 1) !important;
  border: var(--border-size) rgba(38, 35, 35, 0.201) var(--border-type) !important;
}
.lived-this-year {
  background-color: rgb(200, 0, 0) !important;
  border: var(--border-size) rgb(190, 0, 0) var(--border-type) !important;
}
span {
  color: var(--yellow);
  font-size: 120%;
  font-family: "Doto", sans-serif;
}
h1 {
  padding: none;
  font-size: 3em;
  text-align: center;
  color: rgb(255, 241, 238);
}
h2 {
  width: fit-content;
  font-size: 1.3em;
}
#this-year {
  grid-area: this-year;
  margin: 0;
}
#next-decade {
  grid-area: next-decade;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1em;
  }
}
.flash {
  color: rgb(255, 164, 45);
  /* transition: color 0.1s ease-in-out; */
}

.top-left {
  border-radius: var(--radius) 0 0 0;
}
.top-right {
  border-radius: 0 var(--radius) 0 0;
}
.bottom-left {
  border-radius: 0 0 0 var(--radius);
}
.bottom-right {
  border-radius: 0 0 var(--radius) 0;
}

.decade-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5em;
  /* font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; */
  font-variation-settings: "ROND" 0;
  color: var(--gray);
  /* z-index: -1; */
}
.decade-shader .decade-number {
  color: var(--gray2);
}
.decade-lived {
  color: var(--lived-decade-number-color) !important;
}
.current-decade {
  color: var(--current-decade-number-color) !important;
}
